# Dados sobre o Metrô de São Paulo

O Metrô de São Paulo, utilizado por milhares de usuários todos os dias, faz parte do cotidiano da maioria da população de São Paulo.

Iremos analisar algumas informações obtidas pela inciativa Governo Aberto (http://catalogo.governoaberto.sp.gov.br/).

Iremos utilizar a bibliotecas Pandas e MatPlotLIb, do Python, como ferramentas para análises

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Primeiramente, iremos analisar os dados de Janeiro de 2018.

In [72]:
df = pd.read_csv('metro/demanda/2018/PTranspLinhaJan2018.csv', sep=',',encoding='utf-8')
df

              Unnamed: 0  Lazul     Lv   Lver   Lli  Lpra   Rede
0                  Total  28972  13602  29999  5522   379  78475
1  M�dia dos dias �teis    1169    570   1196   226    17   3178
2     M�dia dos S�bados     701    276    748   139     6   1868
3    M�dia dos Domingos     402    167    439    55     3   1065
4         M�xima Di�ria    1289    639   1309   249    19   3497

In [78]:
dftotais = df.iloc[0:1]
dftotais['Lv']
# df_shaped.plot(kind='bar')
# dftotais

0    13602
Name: Lv, dtype: int64