In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('ssp-data-20250423_193748.csv')
data.head()

,ano_data_item,idOcorrenciaMensal,idDelito,idDistrito,nomeDistrito,ano_lista,janeiro,fevereiro,marco,abril,...,setembro,outubro,novembro,dezembro,publicado,total,delito_idDelito,delito_idGrupoDelito,delito_nome,delito_ordem
0,2010,0,38,0,DP-Sé,2010,4,3,1,4,...,1,0,0,2,12,24,38,6,HOMICÍDIO DOLOSO (2),1
1,2010,0,41,0,DP-Sé,2010,4,3,1,4,...,1,0,0,2,12,24,41,6,Nº DE VÍTIMAS EM HOMICÍDIO DOLOSO (3),2
2,2010,0,72,0,DP-Sé,2010,0,0,0,0,...,0,0,0,0,12,0,72,6,HOMICÍDIO DOLOSO POR ACIDENTE DE TRÂNSITO,3
3,2010,0,73,0,DP-Sé,2010,0,0,0,0,...,0,0,0,0,12,0,73,6,Nº DE VÍTIMAS EM HOMICÍDIO DOLOSO POR ACIDENTE...,4
4,2010,0,43,0,DP-Sé,2010,1,0,0,0,...,2,1,1,0,12,8,43,6,HOMICÍDIO CULPOSO POR ACIDENTE DE TRÂNSITO,5

In [4]:
dp_se = data[data['nomeDistrito'] == 'DP-Sé']
dp_se_homicidio = dp_se[dp_se.delito_nome.str.contains('HOMICÍDIO DOLOSO')]

In [5]:
dp_se_homicidio

,ano_data_item,idOcorrenciaMensal,idDelito,idDistrito,nomeDistrito,ano_lista,janeiro,fevereiro,marco,abril,...,setembro,outubro,novembro,dezembro,publicado,total,delito_idDelito,delito_idGrupoDelito,delito_nome,delito_ordem
0,2010,0,38,0,DP-Sé,2010,4,3,1,4,...,1,0,0,2,12,24,38,6,HOMICÍDIO DOLOSO (2),1
1,2010,0,41,0,DP-Sé,2010,4,3,1,4,...,1,0,0,2,12,24,41,6,Nº DE VÍTIMAS EM HOMICÍDIO DOLOSO (3),2
2,2010,0,72,0,DP-Sé,2010,0,0,0,0,...,0,0,0,0,12,0,72,6,HOMICÍDIO DOLOSO POR ACIDENTE DE TRÂNSITO,3
3,2010,0,73,0,DP-Sé,2010,0,0,0,0,...,0,0,0,0,12,0,73,6,Nº DE VÍTIMAS EM HOMICÍDIO DOLOSO POR ACIDENTE...,4